/* Start Global Rules*/

:root {
  --main-color: #5cd2b8;
  --main-white-color: #f9f9f9;
  --nav-color: #151515;
  --land-color: #0c0c0c;
  --second-land-color: #1f3c37;
  --sec-color: black;
  --sec-color-second: var(--land-color);
  --paragraph-color: #aaaaaa;
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  /* Code for Firefox */
  color: var(--nav-color);
  background: var(--main-color);
}

::selection {
  color: var(--nav-color);
  background: var(--main-color);
}

::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: var(--land-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3a8676;
}

body {
  overflow-x: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: var(--sec-color);
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7;
}

.container {
  max-width: 1400px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules*/

/* Start header */

header {
  height: 100px;
  z-index: 100;
}
header .container {
  height: 100%;
}

header .container .logo-container {
  width: fit-content;
}
header .container .logo-container .logo {
  font-size: 50px;
}

header .container .logo-container .slog {
  letter-spacing: 3.5px;
  margin-top: -5px;
}
header .container nav {
  width: 50%;
  height: 100%;
}
header .container nav ul {
  width: 100%;
  height: 100%;
}
header .container nav ul li {
  width: fit-content;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .container nav ul li a {
  color: var(--main-white-color);
  display: block;
  font-weight: 600;
  font-size: 17px;
  transition: 0.3s;
}
header .container nav ul li:hover a {
  color: var(--main-color);
}
header .container nav .search {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 20px;
  font-size: 20px;
}

@media (max-width: 1150px) {
  header .container nav {
    width: fit-content;
    justify-content: center;
    padding: 0;
    position: relative;
  }
  header .container nav i {
    display: block;
  }
  header .container nav ul {
    display: none;
    position: absolute;
    background-color: var(--nav-color);
    bottom: -400px;
    right: 50px;
    flex-direction: column;
    z-index: 500;
    width: 300px;
    margin-left: 0;
  }
  header .container nav:hover ul {
    display: flex;
    height: fit-content;
    padding: 30px 20px;
  }
  header .container nav ul li {
    padding: 10px 20px;
    border-left: 3px solid var(--main-color);
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    transition: 0.3s;
  }
  header .container nav ul li:hover {
    background-color: var(--sec-color-second);
    margin-left: 10px;
  }
  header .container nav ul li:first-child {
    margin-top: 0px;
  }
}

header .container .search {
  transition: 0.3s;
  cursor: pointer;
}
header .container .search:hover {
  color: var(--main-white-color);
}

@media (max-width: 400px) {
  header .container .search {
    display: none;
  }
}

/* End Header */

/* Start Landing */
.landing {
  background-color: var(--land-color);
  height: calc(100vh - 100px);
  overflow: hidden;
}

@media (max-width: 600px) {
  .landing {
    height: 100%;
  }
}

.landing .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 130px 0;
}
.landing .container .content {
  width: 50%;
  margin-left: 30px;
}
.landing .content .text {
  position: relative;
  z-index: 10;
}
.landing .content .text .slog {
  letter-spacing: 7px;
}
.landing .content .text h1 {
  width: 120%;
  font-size: 90px;
}
.landing .image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50%;
}
.landing .image .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(12, 12, 12, 1) 20%,
    var(--main-color) 80%
  );
  filter: opacity(0.2);
  z-index: 2;
}
.landing .image img {
  position: absolute;
  bottom: -150px;
  right: 0;
  z-index: 1;
}

@media (max-width: 1330px) {
  .landing .image img {
    width: 120%;
  }
  .landing .content .text h1 {
    width: 120%;
    font-size: 60px;
  }
  .landing .content .text p {
    font-size: 17px;
  }
}

@media (max-width: 1100px) {
  .landing .image img {
    display: none;
  }
  .landing .container {
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .landing .container .content {
    width: 70%;
    margin-left: 0;
  }
  .landing .container .content .text .slog {
    font-size: 19px;
    text-align: center;
  }
  .landing .container .content .text h1 {
    width: 100%;
    font-size: 50px;
  }
  .landing .container .content .text .main-line {
    margin: 0 auto;
  }
  .landing .container .content .about-us {
    position: relative;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    margin: 50px auto 0;
    padding: 0;
  }
  .landing .container .content .about-us .about-txt {
    margin-left: 0;
    margin-top: 30px;
  }
  .landing .container .content .about-us .about-txt .line {
    margin-left: auto;
    margin-right: auto;
  }
}

.landing .about-us {
  padding-left: 30px;
  margin-top: 50px;
  max-width: 500px;
}

/* .landing .about-us .shape {
  width: 100px;
  height: 100px;
}
.landing .about-us .semi-shape {
  background-image: linear-gradient(transparent 70%, #5cd2b93e 30%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
} */

.landing .about-us .main-shape {
  background-color: var(--main-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0 0 0px 5px #5cd2b975, 0 0 0px 10px #5cd2b93e;
  transition: 0.3s;
  cursor: pointer;
}
.landing .about-us .main-shape:hover {
  box-shadow: 0 0 0px 5px #5cd2b975, 0 0 0px 10px #5cd2b93e,
    0 0px 50px rgba(92, 210, 184, 1);
}

.landing .about-us .about-txt {
  margin-left: 40px;
  margin-top: 25px;
}
.landing .about-us .about-txt .first {
  font-weight: bold;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.landing .about-us .about-txt .line {
  width: 85%;
  height: 1px;
  margin-bottom: 30px;
}

/* End Landing */

/* Start Services */
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}

@media (max-width: 1205px) {
  .services .container {
    flex-direction: column;
  }
}

.services .container .text {
  flex: 1;
  max-width: 700px;
  margin-left: 30px;
  padding: 20px 20px 20px 0;
}

@media (max-width: 1205px) {
  .services .container .text {
    margin: 0 auto 100px;
    text-align: center;
    padding: 20px;
  }
  .services .container .text .main-line {
    margin: 0 auto;
  }
}

.services .container .text span.first {
  letter-spacing: 5px;
}
.services .container .text h2 {
  font-size: 70px;
}

@media (max-width: 1100px) {
  .services .container .text h2 {
    font-size: 50px;
  }

  .services .container .text p {
    font-size: 17px;
  }
}

.services .container .boxes-container {
  flex: 2;
  justify-content: center;
  margin-right: 30px;
}
@media (max-width: 1205px) {
  .services .container .boxes-container {
    margin: 0px auto;
    flex-wrap: wrap;
  }
}

.services .container .boxes-container .left {
  margin-top: -30px;
}

@media (max-width: 1205px) {
  .services .container .boxes-container .left {
    margin-top: 0px;
    flex-wrap: wrap;
  }
}

.services .container .boxes-container .box {
  max-width: 350px;
  min-width: 288px;
  background-color: var(--nav-color);
  padding: 30px;
}

.services .container .boxes-container .box h3 {
  font-size: 30px;
}
.services .container .boxes-container .box p {
  font-size: 19px;
}
.services .container .boxes-container .box img {
  width: 100px;
}

/* End Services */

/* Start About */
.about {
  padding-top: 120px;
  background-color: var(--sec-color-second);
  overflow: hidden;
}
.about .container .about-image {
  margin-left: 30px;
}

.about .container .about-image img {
  bottom: -4px;
}
@media (max-width: 1330px) {
  .about .container {
    padding-bottom: 130px;
  }
  .about .container .about-image img {
    max-width: 100%;
  }
  .about .container .about-image {
    position: relative;
    bottom: -300px;
  }
}

@media (max-width: 1205px) {
  .about .container .about-image {
    display: none;
  }
  .about .container .about-text {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  .about .container .about-text .main-line {
    margin: 0 auto;
  }
}

.about .container .about-text .about-boxes {
  margin-top: 40px;
}

.about .container .about-text .about-boxes .clean img {
  width: 90px;
  height: 90px;
}
.about .container .about-text .about-boxes .clean .text {
  width: 250px;
}
.about .container .about-text h2 {
  font-size: 70px;
}

.about .container .about-text .about-boxes .modern img {
  width: 90px;
  height: 90px;
}
.about .container .about-text .about-boxes .modern .text {
  width: 250px;
}
.about .container .about-text h2 {
  font-size: 70px;
}
@media (max-width: 1330px) {
  .about .container .about-text h2 {
    font-size: 50px;
  }
  .about .about-text p {
    font-size: 17px;
  }
}

@media (max-width: 1205px) {
  .about .container .about-text .about-boxes {
    justify-content: center;
  }
}
@media (max-width: 997px) {
  .about .container .about-text .about-boxes {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .about .container .about-text .about-boxes .clean {
    flex-direction: column;
    align-items: center;
  }
  .about .container .about-text .about-boxes .modern {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}

/* End About */

/* Start Statistics */
.statistics {
  height: 406px;
}
.statistics .bg-image {
  background-image: url(../images/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}
.statistics .bg-image .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, transparent, var(--main-color));
  z-index: 2;
}

.statistics .container {
  position: relative;
  height: 100%;
  z-index: 5;
  justify-content: space-around;
}
.statistics .container .stat img {
  width: 90px;
  margin-bottom: 25px;
}
.statistics .container .stat .stat-text .num {
  font-size: 70px;
  font-weight: bold;
}
.statistics .container .stat .stat-text .plus {
  font-size: 30px;
  margin-left: 5px;
}
@media (max-width: 778px) {
  .statistics .container .stat img {
    width: 70px;
  }
  .statistics .container .stat .stat-text .num {
    font-size: 40px;
  }
  .statistics .container .stat .stat-text .plus {
    font-size: 20px;
    margin-left: 5px;
  }
  .statistics .container .stat .stat-text .title {
    font-size: 20px;
  }
}
/* End Statistics */

/* Start Cases */
.cases {
  padding-top: 130px;
  padding-bottom: 130px;
}
.cases .container {
  grid-template-columns: repeat(3, auto);
  row-gap: 30px;
}
.cases .container .cases-text {
  grid-column: 1 / 3;
  padding-top: 20px;
}
.cases .container .cases-text h2 {
  font-size: 70px;
}
.cases .container .cases-text h2 {
  font-size: 70px;
}

.cases .container img {
  width: 456px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.cases .container img:hover:hover {
  opacity: 1;
}

.cases .container .cases-text .checks {
  margin-top: 50px;
}

@media (max-width: 1420px) {
  .cases .container {
    grid-template-columns: repeat(2, auto);
    max-width: 1000px;
  }
  .cases .container .cases-text {
    text-align: center;
  }
  .cases .container .cases-text .main-line {
    margin: 0 auto;
  }
  .cases .container .cases-text .checks div {
    justify-content: center;
  }
  .cases .container img {
    justify-self: center;
  }
}

@media (max-width: 1330px) {
  .cases .container .cases-text {
    max-width: 700px;
    margin: 0 auto;
  }
  .cases .container .cases-text h2 {
    font-size: 50px;
  }
  .cases .cases-text p {
    font-size: 17px;
  }
}
@media (max-width: 990px) {
  .cases .container {
    grid-template-columns: repeat(1, auto);
    padding: 0;
  }
  .cases .container .cases-text {
    grid-column: 1 / 2;
    padding-top: 20px;
  }
  .cases .container .cases-text .checks div {
    font-size: 15px;
  }
  .cases .container img {
    max-width: 350px;
  }
}
/* End Cases */

/* Start Logos */

.logos {
  height: 282px;
}

.logos .bg-image {
  background-image: url(../images/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  height: 100%;
  width: 100%;
}

.logos .bg-image .overlay {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, transparent, var(--main-color));
  z-index: 2;
}
.logos .container {
  position: relative;
  height: 100%;
  z-index: 5;
}
.logos .container img {
  width: 250px;
  filter: grayscale(1);
}

@media (max-width: 1310px) {
  .logos .container img {
    max-width: 250px;
    max-width: 40%;
  }
  .logos .container {
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* End Logos */

/* Start Experience */
.experience .container {
  gap: 30px;
}

.experience .container .right {
  margin-top: 70px;
}
.experience .container .right .right-text .checks {
  margin-top: 70px;
}
.experience .container .image {
  margin-top: 140px;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.experience .container .image:hover {
  opacity: 1;
}
.experience .container .image .play {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 7px solid var(--main-white-color);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 70%;
}
.experience .container .image .play i {
  font-size: 35px;
}
.experience .container img {
  width: 700px;
}

@media (max-width: 1330px) {
  .experience .container .left-text {
    max-width: 100%;
  }
  .experience .container .right-text {
    max-width: 100%;
  }
  .experience .container .left-text h2 {
    font-size: 50px;
  }
  .experience .container .right-text p {
    font-size: 17px;
  }
  .experience .container img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .experience .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .experience .container .left {
    width: 70%;
    text-align: center;
  }
  .experience .container .right {
    width: 70%;
  }
  .experience .container .image {
    margin-top: 50px;
  }
}
@media (max-width: 600px) {
  .experience .container .left-text h2 {
    font-size: 40px;
  }
  .experience .container .image .play {
    width: 90px;
    height: 90px;
  }
  .experience .container .image .play i {
    font-size: 25px;
  }
}
/* End Experience */

/* Start Team */
.team .background {
  background-image: url(../images/Bg-1.jpg);
  background-position: right center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(0.5);
}
.team .container {
  padding: 130px 20px;
}
.team .container .team-text {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.team .container .team-text .main-line {
  margin: 0 auto;
}

.team .container .members {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 20px;
  justify-content: center;
}
.team .container .members .member {
  gap: 30px;
  background-color: var(--nav-color);
  width: calc(50% - 10px);
  min-width: 610px;
  padding: 0 15px;
  align-items: center;
  position: relative;
}
.team .container .members .member img {
  min-width: 315px;
  filter: grayscale(1);
  margin-top: -100px;
}
.team .container .members .member .content .text h3 {
  font-size: 30px;
}
.team .container .members .member .content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 10px;
}
.team .container .members .member .content .text span {
  display: block;
  margin-bottom: 70px;
}

.team .container .members .member .content .social-icons {
  margin-top: 50px;
  margin-bottom: 20px;
  padding-left: 10px;
}
.team .container .members .member .content .social-icons a {
  color: var(--main-color);
  font-size: 19px;
  margin-right: 25px;
  transition: 0.3s;
}
.team .container .members .member .content .social-icons a:hover {
  color: var(--main-white-color);
}

@media (max-width: 1330px) {
  .team .container .team-text h2 {
    font-size: 50px;
  }
  .team .container .team-text p {
    font-size: 17px;
  }
}

@media (max-width: 676px) {
  .team {
    background: none;
  }
  .team .container .members .member {
    flex-direction: column;
    min-width: 350px;
  }
  .team .container .members .member .content {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
  }
  .team .container .team-text h2 {
    font-size: 40px;
  }
  .team .container .team-text p {
    color: var(--main-white-color);
  }
  .team .container .members .member img {
    max-width: 200px;
    margin-top: -25px;
  }
  .team .container .members .member .content .text span {
    margin-bottom: 30px;
  }
  .team .container .members .member .content .social-icons {
    margin-top: 20px;
  }
}
/* End Team */

/* Start Portfolio */
.portfolio .container .text {
  width: 70%;
  margin: 0 auto 20px;
}
.portfolio .container {
  padding: 0 20px;
}

.portfolio .container .text .main-line {
  margin: 0 auto;
}

.portfolio .container .gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.portfolio .container .gallery img {
  width: 440px;
  min-width: 350px;
  opacity: 0.8;
  transition: 0.3s;
}
.portfolio .container .gallery img:hover {
  opacity: 1;
}

@media (max-width: 1330px) {
  .portfolio .container .text h2 {
    font-size: 50px;
  }
  .portfolio .container .text p {
    font-size: 17px;
  }
}
/* End Portfolio */

/* Start Testimonials */
.testimonials {
  overflow: hidden;
}
.testimonials .background {
  background-image: url(../images/adadad.jpg);
  background-position: right center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: opacity(1);
}
.testimonials .background::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sec-color-second);
  opacity: 0.7;
}

.testimonials .container .text {
  max-width: 700px;
}

.testimonials .container .quote {
  padding: 40px;
  background-color: rgba(21, 21, 21, 0.7);
  max-width: 700px;
}
.testimonials .container .quote .quotation-mark {
  bottom: 30px;
  right: 50px;
}
@media (max-width: 600px) {
  .testimonials .container .quote p {
    font-size: 15px;
  }
  .testimonials .container .quote img {
    width: 60px;
  }
  .testimonials .container .quote h4 {
    font-size: 16px;
  }
  .testimonials .container .quote span {
    font-size: 13px;
  }
  .testimonials .container .quote .quotation-mark {
    font-size: 50px;
    transform: translateY(-50px);
  }
}

@media (max-width: 1200px) {
  .testimonials .container {
    flex-direction: column;
  }
  .testimonials .container .text h2 {
    font-size: 50px;
  }
  .testimonials .container .text p {
    font-size: 17px;
  }
  .testimonials .container .text {
    text-align: center;
    margin-bottom: 50px;
  }
  .testimonials .container .text .main-line {
    margin: 0 auto;
  }
}

/* End Testimonials */

/* Start Blog */
.blog .container .text {
  width: 70%;
  margin: 0 auto 20px;
}
.blog .container .text span {
  margin: 0 auto;
}

.blog .container .posts {
  flex-wrap: wrap;
  justify-content: center;
}
.blog .container .posts .post {
  max-width: 420px;
  transition: 0.5s;
  min-width: 365px;
  margin-bottom: 50px;
}
.blog .container .posts .post:hover {
  background-color: var(--nav-color);
  transform: translateY(-10px);
}
.blog .container .posts .post img {
  max-width: 420px;
  width: 100%;
}

@media (max-width: 1330px) {
  .blog .container .text h2 {
    font-size: 50px;
  }
  .blog .container .text p {
    font-size: 17px;
  }
}
/* End Blog */

/* Start Contact */

.contact {
  background-color: var(--sec-color-second);
}

.contact .background {
  background-image: url(../images/bg-2.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: opacity(1);
  z-index: 1;
}

.contact .container {
  position: relative;
  z-index: 2;
}
.contact .container .contact-form {
  border: 1px solid var(--main-color);
  min-width: 500px;
}
.contact .container .contact-form form input {
  border: 1px solid var(--main-color);
  background-color: rgba(12, 12, 12, 0.5);
  width: 100%;
  padding: 20px 20px;
  caret-color: var(--main-color);
  font-size: 19px;
  color: var(--main-white-color);
  transition: 0.3s;
}
.contact .container .contact-form form input:focus:not(input[type="submit"]),
.contact .container .contact-form form textarea:focus {
  outline: none;
  border-color: var(--main-white-color);
}
.contact .container .contact-form form textarea {
  border: 1px solid var(--main-color);
  background-color: rgba(12, 12, 12, 0.5);
  width: 100%;
  resize: none;
  padding: 20px 20px;
  caret-color: var(--main-color);
  font-size: 19px;
}
.contact .container .contact-form form textarea:focus {
  outline: none;
}
.contact .container .contact-form form .submit {
  background-color: var(--main-color);
  margin-top: 60px;
}

@media (max-width: 600px) {
  .contact .container .contact-form {
    min-width: 350px;
  }
  .contact .container .right .info div div {
    font-size: 20px;
  }
  .contact .container .right .info div span {
    font-size: 15px;
  }
  .contact .container .right .info div i {
    font-size: 40px;
  }
}

@media (max-width: 1200px) {
  .contact .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contact .container .right-text {
    text-align: center;
    max-width: 800px;
  }
  .contact .container .right-text .main-line {
    margin: 0 auto;
  }
  .contact .container .right .info {
    margin-top: 50px;

    padding: 10px;
    text-align: center;
  }
  .contact .container .right .info .location,
  .contact .container .right .info .phone,
  .contact .container .right .info .mail {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .contact .container .right .info i {
    margin-bottom: 20px;
  }
  .contact .container .right-text h2 {
    font-size: 50px;
  }
  .contact .container .right-text p {
    font-size: 17px;
  }
}

/* End Contact */

/* Start Footer */
footer .background {
  background: radial-gradient(rgba(92, 210, 185, 0.2), black 70%);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: opacity(1);
  z-index: -1;
}

footer .container {
  padding-top: 130px;
  flex-direction: column;
  max-width: 700px;
}
footer .container .logo-container span {
  font-size: 10px;
  margin-top: -5px;
}
footer .container ul {
  width: 100%;
  margin-top: 50px;
  margin-left: 0;
}
footer .container ul a {
  font-size: 19px;
  color: var(--main-color);
  transition: 0.3s;
}

footer .container ul a:hover {
  color: var(--main-white-color);
}
footer .container p {
  margin-top: 50px;
  width: 85%;
}
footer .container .social-icons {
  width: 300px;
  margin-top: 50px;
}
footer .container .social-icons a {
  font-size: 25px;
  color: var(--main-color);
  transition: 0.3s;
  display: block;
}
footer .container .social-icons a:hover {
  color: var(--main-white-color);
}

footer .container .copyright {
  margin: 200px 0 0;
  font-size: 17px;
}

@media (max-width: 600px) {
  footer .container ul {
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  footer .container p {
    font-size: 15px;
  }
  footer .container .social-icons {
    max-width: 250px;
  }
  footer .container .copyright {
    margin: 30px 0 0;
    font-size: 10px;
  }
}
/* End Footer */
